::-webkit-scrollbar {
    background: rgba(0, 19, 20);
    width: 15px;
    border-left: 1px solid #f8f8f8;
}
::-webkit-scrollbar-thumb {
    background: #f8f8f850;
    border-left: 1px solid #f8f8f8;
}